<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <title>QR 리더기</title>

    <!-- Google font file. If you want you can change. -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900"
      rel="stylesheet"
    />

    <!-- Fontawesome font file css -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

    <!-- Template global css file. Requared all pages -->
    <link rel="stylesheet" type="text/css" href="css/global.style.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="wrapper-inline">
        <!-- Header area start -->
        <header>
          <!-- extra class no-background -->
          <a class="go-back-link" href="javascript:history.back();"
            ><i class="fa fa-arrow-left"></i
          ></a>
          <h1 class="page-title">계좌 이체</h1>
          
        </header>
        <!-- Header area end -->
        <!-- Page content start -->
        <main>
          <div class="container">
            <div class="form-divider"></div>
          </div>
          <div style="text-align: center;">
          <video id="preview"></video>
          </div>

          <div class="form-divider"></div>

          <footer>
            <div class="container">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
              <p>Copyright © All Right Reserved</p>
            </div>
          </footer>
        </main>
        <!-- Page content end -->
        <div class="popup-overlay" id="largePopup">
          <!-- if you dont want overlay add class .no-overlay -->
          <div class="popup-container">
            <div class="popup-header">
              <h3 class="popup-title">Large Popup</h3>
              <span class="popup-close" data-dismiss="true"
                ><i class="fa fa-times"></i
              ></span>
            </div>
            <div class="popup-content">
              금액을 입력해 주세요 : <input type="text" id="amountInput" />
              <table>
                <thead>
                  <th>번호</th>
                  <th>계좌별명</th>
                  <th>결제하기</th>
                </thead>
                <tbody id="cardList"></tbody>
              </table>
              <!-- #todo 리스트 테이블 만들기 -->
            </div>
            <div class="popup-footer">
              <button class="button orange">Save</button>
              <button class="button" data-dismiss="true">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Page loader DOM Elements. Requared all pages-->
    <div class="sweet-loader">
      <div class="box">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
      </div>
    </div>

    <!-- JQuery library file. requared all pages -->
    <script src="js/jquery-3.2.1.min.js"></script>

    <!-- Template global script file. requared all pages -->
    <script src="js/global.script.js"></script>
    <script type="text/javascript" src="js/instascan.min.js"></script>
    <script>
      let scanner = new Instascan.Scanner({
        video: document.getElementById("preview"),
      });
      var jwtToken = sessionStorage.getItem("ourtoken");
      var toFinUseNo = undefined;
      scanner.addListener("scan", function (content) {
        console.log(content);
        toFinUseNo = content;
        $("#largePopup").show();
        $.ajax({
          url: "/list",
          type: "POST",
          headers: {
            ourtoken: jwtToken,
          },
          success: function (data) {
            console.log(data.res_list);
            for (var i = 0; i < data.res_list.length; i++) {
              var element = data.res_list[i];
              $("#cardList").append(
                "<tr><td>" +
                  (i + 1) +
                  "</td>" +
                  "<td>" +
                  element.account_alias +
                  "</td>" +
                  "<td>" +
                  "<button onclick=\"pay('" +
                  element.fintech_use_num +
                  "')\">결제하기</button>" +
                  "</td>" +
                  "</tr>"
              );
            }
          },
        });
      });
      Instascan.Camera.getCameras()
        .then(function (cameras) {
          if (cameras.length > 0) {
            scanner.start(cameras[0]);
          } else {
            console.error("No cameras found.");
          }
        })
        .catch(function (e) {
          console.error(e);
        });
      function pay(finusenum) {
        console.log(finusenum + "");
        $.ajax({
          url: "/withdraw",
          type: "POST",
          headers: {
            ourtoken: jwtToken,
          },
          data: {
            fin_use_num: finusenum, //내계좌
            to_fin_use_num: toFinUseNo, //전송할 계좌
            amount: $("#amountInput").val(),
          },
          success: function (data) {
            if (data.rsp_code == "A0000") {
              alert("전송완료");
            }
          },
        });
      }
    </script>
  </body>
</html>
